{% extends 'base.html.twig' %}

{% block title %}MonsterLab{% endblock %}

{% block body %}
<div class="max-w-4xl mx-auto mb-8">
{# Hat Level #}
    <div class="grid grid-cols-3">
        <div class="col-span-1 content-center justify-items-end">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" class="rotate-180" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
        <div class="col-span-1">
            <div class="bg-white/20 mx-4 pt-5 px-5 rounded-2xl">
                <img src="{{asset ('images/hat-1.png')}}"></img>
            </div>
        </div>
        <div class="col-span-1 content-center">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
    </div>
{# End Hat Level #}

{# Head Level #}
    <div class="grid grid-cols-3 mt-4">
        <div class="col-span-1 content-center justify-items-end">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" class="rotate-180" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
        <div class="col-span-1">
            <div class="bg-white/20 mx-4 pt-5 px-5 rounded-2xl">
                <img src="{{asset ('images/head-1.png')}}"></img>
            </div>
        </div>
        <div class="col-span-1 content-center">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
    </div>
{# End Head Level #}

{# Body Level #}
    <div class="grid grid-cols-3 mt-4">
        <div class="col-span-1 content-center justify-items-end">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" class="rotate-180" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
        <div class="col-span-1">
            <div class="bg-white/20 mx-4 pt-5 px-5 rounded-2xl">
                <img src="{{asset ('images/torso-1.png')}}"></img>
            </div>
        </div>
        <div class="col-span-1 content-center">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
    </div>
{# End Body Level #}

{# Leg Level #}
    <div class="grid grid-cols-3 mt-4">
        <div class="col-span-1 content-center justify-items-end">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" class="rotate-180" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
        <div class="col-span-1">
            <div class="bg-white/20 mx-4 pt-5 px-5 rounded-2xl">
                <img src="{{asset ('images/legs-1.png')}}"></img>
            </div>
        </div>
        <div class="col-span-1 content-center">
            <div class="rounded-full bg-white w-12 h-12" style="box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);">
                <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 256 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"/></svg>
            </div>
        </div>
    </div>
{# End Leg Level #}

    <div class="flex justify-center mt-8">
        <button class="uppercase text-center rounded-2xl border-2 border-black text-2xl font-extrabold py-5 px-6 w-96"
                    style="background: linear-gradient(165deg, #F7E02E -6.06%, #F76E2E 222.12%); box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.60) inset, 0px 3px 2.4px 0px rgba(0, 0, 0, 0.60);"
            >Assemble</button>
    </div>
</div>
{% endblock %}
