<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body style="background: radial-gradient(64.22% 64.22% at 50% 50%, #0641CD 0%, #210339 100%);">
        <div class="flex justify-between py-5 px-7 lexend">
            <div class="bg-[url('../images/monster-lab-logo.png')] w-[170px] h-[30px] bg-contain bg-no-repeat"></div>
            <div>
                <div class="bg-white hover:bg-gray-300 hover:cursor-pointer group w-[230px] uppercase font-extrabold text-[#1B0433] py-3 px-6 border-2 border-black rounded-xl relative">
                All Monsters
                    <img src="{{asset ('images/monster-btn.png')}}" class="absolute -right-4 -top-4 -rotate-[0.3rad] group-hover:-rotate-[0.5rad] w-[70px] h-[70px]"></img>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
